{% extends "index.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form method="post" class="sign-in-form" action="">
        {% csrf_token %}
        <h2 class="title">Change Password</h2>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Current Password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
        </div>
        <div class="error-text">
            <span>
                {{form.old_password.errors}}
            </span>
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="New Password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
          </div>
          <div class="error-text">
            <span>
                {{form.new_password1.errors}}
            </span>
        </div>

          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Confirm Password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
          </div>
          <div class="error-text">
            <span>
                {{form.new_password2.errors}}
            </span>
        </div>
        
        <input type="submit" value="Change" class="btn solid" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>

  <div class="panels-container">

    <div id="left-panel" class="panel left-panel">
        <div class="content">
          <h3>Don't want to change ?</h3>
          <p>
            Changing your password regularly reduces your risk of exposure and avoids a number of dangers.
          </p>
          <button class="btn transparent" id="sign-up-btn" onclick="window.location.href='{% url 'blogs:all' %}'; return false;">Go Back</button>
        </div>
        <img src="{% static 'images/log.svg' %}" class="image" alt="" />
      </div>
  </div>
</div>

{% endblock %}
