{% extends "index.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form method="post" class="sign-in-form" action="">
        {% csrf_token %}
        <h2 class="title">Reset Password</h2>
        <p>Enter Your mail id associated with your account.</p>
        
        <div class="error-text">
          <span>
              {{form.errors}}
          </span>
      </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="email" autofocus="" placeholder="Email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
        </div>
        
        <input type="submit" value="Change" class="btn solid" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>

  <div class="panels-container">

    <div id="left-panel" class="panel left-panel">
        <div class="content">
          <h3>Don't want to reset ?</h3>
          <p>
            If you experience diffcuilty remembering passwords and often forget them then you should use a password manager.
          </p>
          <button class="btn transparent" id="sign-up-btn" onclick="window.location.href='{% url 'user:login' %}'; return false;">Sign In</button>
        </div>
        <img src="{% static 'images/log.svg' %}" class="image" alt="" />
      </div>
  </div>
</div>

{% endblock %}
