{% extends "index.html" %} {% load static %} {% block content %}

<div class="container">
  <div class="forms-container">
    <div style="text-align: center; font-size: large; margin-top: -100px;" class="signin-signup">
      <h1>Check Your Mailbox</h1>
      <br>
      <p>
        We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should receive them shortly.
      </p>
      <br>
      <p>
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
      </p>
    </div>
  </div>

  <div class="panels-container">

    <div id="left-panel" class="panel left-panel">
        <div class="content">
          <h3>Don't want to reset ?</h3>
          <p>
            If you experience diffcuilty remembering passwords and often forget them then you should use a password manager.
          </p>
          <button class="btn transparent" id="sign-up-btn" onclick="window.location.href='{% url 'user:login' %}'; return false;">Sign In</button>
        </div>
        <img src="{% static 'images/log.svg' %}" class="image" alt="" />
      </div>
  </div>
</div>

{% endblock %}
