{% extends 'index.html' %}
{% load static %}
{% block head %}

<style type="text/css">
    img{
        width: 70%;
        max-width: 600px;
        height: auto;
    }
    body{
        background: white;
    }
    #page-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5% 0;
    }
</style>
{% endblock %}
{% block content %}
<div id="page-wrapper">
	<div id="success-box">
		<img src="{% static 'images/success.png' %}" alt="mail-box">
		<h1>Thanks for reaching out!</h1>
		<p>Your message was successfully sent. I will do my best to get back to you in a timely manner :)</p>
        <input type="submit"  class="btn" value="Home" onclick="window.location.href='{% url 'blogs:all' %}'; return false;">

	</div>
</div>

{% endblock content %}